.titulos h3{
    font-size: 1.3pc;
    font-weight: 400;
    line-height: 2pc;
    letter-spacing: 1.7px;
}
.cotizaciones p{
    font-size: 1.2pc;
    letter-spacing: 1px;
}
.archivos-section {
    padding: 30px;
}
.tarjetas-container{
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}


.tarjeta{
    padding: 10px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5px solid rgba(179, 187, 198, 0.45);
    box-shadow: 0px 0px 10px rgba(179, 187, 198, 0.45);
    border-radius: 10px;
}
.tarjeta-header{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tarjeta-img-container{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.tarjeta-img-container img{
    width: 100%;
    object-fit: cover;
}
.tarjeta-body{
    display: flex;
}
.item-tarjeta{
    display: flex;
    flex-direction: column;
}
.bread-crumb-item-active::before{
    content: ">";
    padding: 0 8px;
    color: #000;
}
@media screen and (max-width: 768px){
    .titulos h3{
        font-size: 1pc;
        font-weight: 400;
    }
    .titulo-archivo h1{
        font-size: 2.5pc;
    }
    .cotizaciones p{
        font-size: .8pc;
        letter-spacing: 1px;
    }
    .fecha span{
        font-size: .8pc;
    }
}